nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

.post-container {
    background-color: #292d3e;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-container a {
    color: #fff;
    text-decoration: none;
  }
  
  .post-container a:hover {
    color: #bbdefb;
  }
  
  .post-container li {
    margin-bottom: 10px;
  }
  
  .post-container li {
    font-weight: bold;
    color: #ccc;
    font-size: 14px;
  }