.no-display {
  display: none;
}

.active {
  background-color: #333;
  color: #fff;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

ul {
    margin:0px
}

.single-user-container {
    min-width: 650px;
    width:50%;
}

.single-user-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .single-user-container li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f6fc;
  }

  .single-user-container li:hover {
    background-color: #abd2f8;
  }

  .single-user-container li:last-child {
    margin-bottom: 0px;
}
  
  .single-user-container li a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .single-user-container li a:hover {
    color: #253435;
  }


  .single-address-container {
    border: #333 solid 2px;
    margin:10px 20px;
    
  }

  .single-address-container li {
    background-color: #b7d8fa;
  }


  .title-post-container {
    border: #333 solid 2px;
    margin:10px 20px;
  }

  .title-album-container {
    border: #333 solid 2px;
    margin:10px 20px;
  }

  ul.menu.main-menu {
    padding-left: 10px;
}

.answer-container {
  padding-top:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}