.no-display {
  display: none;
}

.active {
  background-color: #333;
  color: #fff;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

ul {
    margin:0px
}

.single-user-container {
    min-width: 650px;
    width:50%;
}

.single-user-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .single-user-container li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f6fc;
  }

  .single-user-container li:hover {
    background-color: #abd2f8;
  }

  .single-user-container li:last-child {
    margin-bottom: 0px;
}
  
  .single-user-container li a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .single-user-container li a:hover {
    color: #253435;
  }


  .single-address-container {
    border: #333 solid 2px;
    margin:10px 20px;
    
  }

  .single-address-container li {
    background-color: #b7d8fa;
  }


  .title-post-container {
    border: #333 solid 2px;
    margin:10px 20px;
  }

  .title-album-container {
    border: #333 solid 2px;
    margin:10px 20px;
  }

  ul.menu.main-menu {
    padding-left: 10px;
}



.answer-container {
    display: flex;
}

.user-answer-container  {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  width:30%;
  height: 100%;
  margin:20px;
}

.user-answer-container  ul {
  list-style-type: none;
  padding: 0;
}

.user-answer-container  li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.user-answer-container  li:nth-child(odd) {
  background-color: #7FB3D5
}

.user-answer-container  li:nth-child(even) {
  background-color: #85C1E9;
}

.user-answer-container  li:nth-child(3n) {
  background-color: #A3E4D7 ;
}

.user-answer-container  li:nth-child(4n) {
  background-color: #A2D9CE;
}

.user-answer-container  li:hover {
  background-color: #73C6B6 ;
  color: white;
}



.post-answer-container  {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  width:30%;
  margin:20px;
  height: 100%;
}

.post-answer-container  ul {
  list-style-type: none;
  padding: 0;
}

.post-answer-container  li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.post-answer-container  li:nth-child(odd) {
  background-color: rgb(253, 209, 166);
}

.post-answer-container  li:nth-child(even) {
  background-color: rgb(255, 192, 128);
}

.post-answer-container  li:nth-child(3n) {
  background-color: rgb(255, 173, 90);
}

.post-answer-container  li:nth-child(4n) {
  background-color: rgb(255, 153, 52);
}

.post-answer-container  li:hover {
  background-color: rgb(252, 133, 14);
  color: white;
}


.album-answer-container  {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  width:30%;
  margin:20px;
  height: 100%;
}

.album-answer-container  ul {
  list-style-type: none;
  padding: 0;
}

.album-answer-container  li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.album-answer-container  li:nth-child(odd) {
  background-color: #ffcc99;
}

.album-answer-container  li:nth-child(even) {
  background-color: #99ccff;
}

.album-answer-container  li:nth-child(3n) {
  background-color: #cc99ff;
}

.album-answer-container  li:nth-child(4n) {
  background-color: #99ff99;
}

.album-answer-container  li:hover {
  background-color: #99ffc7;
  color: white;
}

a {
  text-decoration: none;
}